/* Default settings */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 10px*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

p {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

/* Variables */

:root {
  --dark-bg: #1f2937;
  --heroMainTxt-color: #f9faf8;
  --heroMainTxt-size: 48px;

  --heroSecondaryTxt-color: #e5e7eb;
  --heroSecondaryTxt-size: 18px;
}

/* Buttons Custom */

.btn {
  border: 0;
  padding: 1rem 4rem;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.btn--primary {
  background-color: #3882f6;
  color: var(--heroMainTxt-color);
}

.btn--secondary {
  background-color: #3882f6;
  color: var(--heroMainTxt-color);
  border: 2px solid var(--heroMainTxt-color);
}

/* Utility Paddings and Margins */

/* paddings */
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}

/* margins */

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.m-5 {
  margin: 4rem;
}

/* Navigation Section */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: var(--dark-bg);
  color: var(--heroSecondaryTxt-color);
  font-size: 18px;
}

.navigation a {
  color: var(--heroMainTxt-color);
  font-size: 24px;
  font-weight: bold;
}

ul {
  width: 70rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

ul li {
  margin-right: 2rem;
}

ul:hover {
  color: var(--heroMainTxt-color);
}

/* Hero Section */
.hero {
  background-color: var(--dark-bg);
  height: 90vh;
  display: flex;
}

/* Left side */

.hero__left {
  width: 50%;
  padding: 10rem;
}

.hero__left .container {
  /* border: 1px solid gold; */
  margin-left: 6rem;
}

.hero__title {
  font-size: 48px;
  color: var(--heroMainTxt-color);
}

.hero__text {
  font-size: 22px;
  color: var(--heroSecondaryTxt-color);
}

.hero__btn {
  margin-top: 2rem;
}

/* Right side */

.hero__right {
  width: 50%;
  display: flex;
  align-items: center;
}

.hero__img {
  object-fit: cover;
}

/* Section Info */

.info {
}

.info .info__title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: var(--dark-bg);
}

.info .container {
  display: flex;
  justify-content: center;
}

.info .card {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}

.info .card .card__img {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}

.info .card .card__text {
  font-size: 18px;
  color: #78808a;
  margin: 2rem 0;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5rem;
}
